<ul id="appsItemCategoryTag">
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">すべての商品</a>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー1</a>
    
    <ul class="appsItemCategoryTag_lowerchild">
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー1A</a>
      </li>
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー1B</a>
      </li>
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー1C</a>
      </li>
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー1D</a>
      </li>
    </ul>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー2</a>
    <ul class="appsItemCategoryTag_lowerchild">
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー2A</a>
      </li>
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー2B</a>
      </li>
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー2C</a>
      </li>
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー2D</a>
      </li>
    </ul>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー3</a>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー4</a>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー5</a>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー6</a>
    <ul class="appsItemCategoryTag_lowerchild">
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー6A</a>
      </li>
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー6B</a>
      </li>
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー6C</a>
      </li>
      <li>
        <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor appsItemCategoryTag_lowerLink">カテゴリー6D</a>
      </li>
    </ul>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー7</a>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー8</a>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー9</a>
  </li>
  <li class="appsItemCategoryTag_child">
    <a href="<%= page.homeUrl %>/category/" class="mainHeaderNavColor">カテゴリー10</a>
  </li>
</ul>