<link rel="stylesheet" type="text/css" href="<%= page.homeUrl %>/assets/css/blog-detail.css?<%= currentTime %>">
<div class="main">
  <div id="about" class="blogDetail">
    <div class="blog_inner">
      <div class="blog_contents">
        <div class="blog_title">
          <h2 itemprop="name"><a href="./">【商品入荷情報】新商品を5点入荷しました！【商品入荷情報】新商品を5点入荷しました！【商品入荷情報】</a></h2>
        </div>
        <div class="blog_publish">
          <p class="publish_date" itemprop="dateModified" content="2019/04/05 15:44">2019/04/05 15:44</p>
        </div>
        <div class="blog_body" itemprop="description">
          <p class="text">
            <img src="<%= page.homeUrl %>/assets/images/blog-1.jpg">
          </p>
          <h3>これは見出しです。これは見出しです。</h3>
          <div>これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。</div>
          <div>これはサンプルテキストです。<br></div>
          <div>これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。<br></div>
          <div><br></div>
          <div>これはサンプルテキストです。<b>これはサンプルテキストです。</b>これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。<br></div>
          <div><br></div>
          <div>これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。<br></div>
          <div><br></div>
          <div>
            <h3>これは見出しです。これは見出しです。これは見出しです。これは見出しです。これは見出しです。これは見出しです。これは見出しです。</h3>
          </div>
          <div>
            <div>これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。<i>これはサンプルテキストです。</i>これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。</div>
            <div>これはサンプルテキストです。</div>
          </div>
          <div><br></div>
          <div>
            <div>これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。これはサンプルテキストです。</div>
            <div>これはサンプルテキストです。</div>
          </div>
          <div><br></div>
          <div><img src="<%= page.homeUrl %>/assets/images/item-1.jpg" style="max-width:100%;margin:10px 0;"><br></div>
          <div><br></div>
          <div><a href="./">これはリンクです。</a></div>
          <div>これは<a href="./">リンク</a>です。</div>
          <div><br></div>
          <div><br></div>
          <div>
            <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/8Xx16jPkKF8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
          </div>
          <%#
          <div>
            <iframe class="youtube" width="354" height="630" src="https://www.youtube.com/embed/w3uttiGxDD4" title="カービィのグルメフェス ショートムービー ころがる篇" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          %>
          
          
          <p></p>
        </div>
        <div class="social">
          <ul class="clearfix">
            <li>
              <a href="./" rel="nofollow" target="_blank">
                <img src="<%= page.homeUrl %>/assets/images/base/fbicon.png" height="30" width="30">
              </a>
            </li>
            <li class="tw">
              <a href="./" target="_blank" data-lang="ja"><img src="<%= page.homeUrl %>/assets/images/base/twicon.png" height="30" width="30"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>