<header class="l-header">
  <button class="l-header__menu-button c-menu-button" type="button" id="js-menu-open">
    <span class="icon js-icon--menu u-svg"></span>
  </button>
  <div class="l-header__inner u-frame">
    <div class="l-header__logo">
      <h1 class="u-visually-hidden"><%= siteName %></h1>
      <%- include('_logo.ejs', {page: page}) %>
    </div>
    <!-- /.l-header__logo -->
    <nav class="l-header__nav p-nav">
      <ul class="p-nav__list">
        <li class="p-nav__item"><a href="<%= host %>">HOME</a></li>
        <li class="p-nav__item"><a href="<%= host %>/about/">ABOUT</a></li>
        <li class="p-nav__item"><a href="<%= host %>/blog/">BLOG</a></li>
        <li class="p-nav__item"><a href="<%= host %>/community/">COMMUNITY</a></li>
        <li class="p-nav__item"><a href="<%= host %>/membership/">MEMBERSHIP</a></li>
        <li class="p-nav__item"><a href="<%= host %>/contact/">CONTACT</a></li>
      </ul>
      <!-- /.p-nav__list -->
      <div class="p-nav__icons">
        <a class="p-nav__icon" href="<%= host %>/membership/mypage/">
          <span class="u-visually-hidden">MyPage</span>
          <span class="icon js-icon--mypage u-svg"></span>
        </a>
        <button class="p-nav__icon" type="button">
          <span class="u-visually-hidden">Search</span>
          <span class="icon js-icon--search u-svg"></span>
        </button>
        <a class="p-nav__icon" href="./">
          <span class="u-visually-hidden">Cart</span>
          <span class="icon js-icon--cart u-svg"></span>
          <div class="cart-qty" style="display: none;">999</div>
        </a>
      </div>
      <!-- /.p-nav__icons -->
    </nav>
    <!-- /.l-header__nav.p-nav -->
  </div>
  <!-- /.l-header__inner -->
</header>
<!-- /.l-header -->

<%- include(`${root}/src/partials/base/_information_app.ejs`, {page: page}) %>