<div class="p-menu" id="js-menu">
  <ul class="p-menu__inner">
    <li class="p-menu__item"><a href="<%= host %>">HOME</a></li>
    <li class="p-menu__item"><a href="<%= host %>/about/">ABOUT</a></li>
    <li class="p-menu__item"><a href="<%= host %>/blog/">BLOG</a></li>
    <li class="p-menu__item"><a href="<%= host %>/community/">COMMUNITY</a></li>
    <li class="p-menu__item"><a href="<%= host %>/membership/">MEMBERSHIP</a></li>
    <li class="p-menu__item"><a href="<%= host %>/contact/">CONTACT</a></li>
  </ul>
  <!-- /.p-menu__inner -->
</div>
<!-- /.p-menu -->