<a href="./">
  <img src="<%= host %>/src/assets/images/base/icon-instagram.png" alt="">
</a>
<a href="./">
  <img src="<%= host %>/src/assets/images/base/icon-x.png" alt="">
</a>
<a href="./">
  <img src="<%= host %>/src/assets/images/base/icon-facebook.png" alt="">
</a>
<a href="./">
  <img src="<%= host %>/src/assets/images/base/icon-line.png" alt="">
</a>
<a href="./">
  <img src="<%= host %>/src/assets/images/base/icon-youtube.png" alt="">
</a>
<a href="./">
  <img src="<%= host %>/src/assets/images/base/icon-tiktok.png" alt="">
</a>
<a href="./">
  <img src="<%= host %>/src/assets/images/base/icon-note.png" alt="">
</a>
<a href="./">
  <img src="<%= host %>/src/assets/images/base/icon-ameba.png" alt="">
</a>