<div class="p-mv splide js-mv-slide">
  <div class="splide__track">
    <div class="splide__list">
      <% for (var i = 1; i <= 6; i++) { %>
      <a class="splide__slide" href="<%= host %>/items/?id=<%= i%>">
        <img src="<%= host %>/src/assets/images/item-<%= i%>.jpg" alt="スライド<%= i%>">
      </a>
      <% } %>
    </div>
    <!-- /.splide__list -->
  </div>
  <!-- /.splide__track -->
</div>
<!-- /.p-mv -->